<script type="text/javascript">
	$(function(){
		$(".company_nav ul li a").eq(3).addClass("on");
	})
</script>
{set:$type=isset($_GET['type']) ? $_GET['type'] : 'all';}
<div class="company_backg">
	<div class="company_main">
		
		<!-- 装修项目 显示数量不定-->
		<div class="case_list">
			<div class="case_title">
				<span class="case_name">装修项目</span>
				<a class="case_step {if:$type=='all'}checked{/if}" href="?type=all">全部项目</a>
				<a class="case_step {if:$type=='ing'}checked{/if}" href="?type=ing">在建项目</a>
				<a class="case_step {if:$type=='ed'}checked{/if}" href="?type=ed">竣工项目</a>
			</div>
			<div class="project_list">
				<ul>
					{foreach:$items=$this->projectList[0]}
					<li class="project_content">							
						<a target="_blank" href class="img_link">
							<img alt="" src="{url:$item['img']}">
	                        
						</a>
						<div class="project_content_left">
							<h2>{$item['proname']}</h2>
							<p class="small">{$item['block']}&nbsp;&nbsp;￥{$item['price']}&nbsp;&nbsp;{$item['square']}㎡&nbsp;&nbsp;{$item['style']}</p>
							<ul>
								<li {if:$item['status']>=10}class="on"{/if}>
									<i></i>
									<p>准备开工</p>
								</li>
								<li {if:$item['status']>=30}class="on"{/if}>
									<i></i>
									<p>水电阶段</p>
								</li>
								<li {if:$item['status']>=40}class="on"{/if}>
									<i></i>
									<p>泥木阶段</p>
								</li>
								<li {if:$item['status']>=50}class="on"{/if}>
									<i></i>
									<p>油漆阶段</p>
								</li>
								<li {if:$item['status']>=60}class="on"{/if}>
									<i></i>
									<p>竣工阶段</p>
								</li>
							</ul>
							<div class="clear"></div>

						</div>
						<div class="project_content_right">
							<!--<a href>项目详情</a>-->
						</div>
					</li>
					{/foreach}

				</ul>	
				<div class="pages_bar">
					<a href>首页</a>
					<a href class="current_page">1</a>
					<a href>尾页</a>
					<span>当前第1页/共1页</span>
				</div>			
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">

</script>