{set:$detail = $this->detail}
<header class="uc_head">
    <h3>预约详情</h3>
</header>
<section class="col_table">
    <table>

        <tr>
            <th>预约状态：</th>
            <td>
               {$detail['statusText']}
            </td>
        </tr>

        <tr>
            <th>业主姓名：</th>
            <td>{$detail['name']}</td>
        </tr>
        <tr>
            <th>业主电话：</th>
            <td>{$detail['phone']}</td>
        </tr>
        <tr>
            <th>业主地址：</th>
            <td>{$detail['address']}</td>
        </tr>
        <tr>
            <th>房屋面积：</th>
            <td>{$detail['square']}</td>
        </tr>
        <tr>
            <th>预约时间：</th>
            <td>{$detail['time']}</td>
        </tr>

        {if:$this->user['type']==1}
        <tr>
            <th>装修公司：</th>
            <td><a href="{url:/site/home/id/$this->data['seller_id']}" target="_blank">{$this->detail['true_name']}</a></td>
        </tr>
        <tr>
            <th>装修公司联系人：</th>
            <td>{$this->detail['contacts_name']}</td>
        </tr>
        {/if}

    </table>
</section>
<section class="user_form none js_delivery_info">
    <form action="{url:/ucenter/refunds_update2}" method="post" name='delivery_info'>
        <input type="hidden" name="id" value="{$this->data['id']}">
        <input type="hidden" name="num" value="{$this->data['order_no']}">
        <input type="hidden" name="type" value="{$this->data['type']}">
        <dl>
            <dt>快递公司：</dt>
            <dd><input class="input_text" type="text" name="company" pattern="required" value="" alt="请填写快递公司"></dd>
        </dl>
        <dl>
            <dt>快递单号：</dt>
            <dd><input class="input_text" type="text" name="delivery_code" pattern="required" value="" alt="请填写快递单号"></dd>
        </dl>
        <dl>
            <dt>退货地址：</dt>
            <dd><input class="input_text" type="text" name="address" pattern="required" value="" alt="请填写退货地址"></dd>
        </dl>
        <dl>
            <dt>其他说明：</dt>
            <dd><textarea class="input_textarea" name="info" alt="请填写退货说明"></textarea></dd>
        </dl>
        <dl>
            <dt></dt>
            <dd><input class="input_submit" type="submit" value="提交申请" /></dd>
        </dl>
    </form>
</section>


