
<header class="uc_head">
	<h3>我的预约</h3>
</header>
<section class="uc_table">
	<table>
		<thead>
			<tr>
				<th>姓名</th><th>联系方式</th><th>面积</th><th>地址</th><th>装修公司</th><th>预约时间</th><th>状态</th>
			</tr>
		</thead>
		<tbody>
		 {foreach:items = $this->query->find() }
		<tr>
			<td>{$item['name']}</td>
			<td>{$item['phone']}</td>
			<td>{$item['square']}</td>
			<td>{$item['address']}</td>
			<td>{$item['true_name']}</td>
			<td>{$item['time']}</td>
			<td>
				{if:$item['status']==0}
				<b class="orange">预约中</b>
				{elseif:$item['status']==1}
				<b class="green">预约成功</b>
				{else:}
				<b class="orange">已取消预约</b>
				{/if}
			</td>
		</tr>
		{/foreach}
		</tbody>
	</table>
</section>
{$this->query->getPageBar()}