{set:$id = $this->detail['id']}
{set:$detail = $this->detail}
{js:ajaxupload}
<header class="uc_head">
    <h3>预约详情</h3>
</header>
<section class="col_table">
    <table>

        <tr>
            <th>预约状态：</th>
            <td>
               {$detail['statusText']}
            </td>
        </tr>

        <tr>
            <th>业主姓名：</th>
            <td>{$detail['name']}</td>
        </tr>
        <tr>
            <th>业主电话：</th>
            <td>{$detail['phone']}</td>
        </tr>
        <tr>
            <th>业主地址：</th>
            <td>{$detail['address']}</td>
        </tr>
        <tr>
            <th>房屋面积：</th>
            <td>{$detail['square']}</td>
        </tr>
        <tr>
            <th>预约时间：</th>
            <td>{$detail['time']}</td>
        </tr>

        {if:$this->user['type']==1}
        <tr>
            <th>装修公司：</th>
            <td><a href="{url:/site/company/id/$detail['company_id']}" target="_blank">{$this->detail['true_name']}</a></td>
        </tr>
        <tr>
            <th>装修公司联系人：</th>
            <td>{$this->detail['contacts_name']}</td>
        </tr>
        {else:}
        <tr>
            <th>操作</th>
            <td>
                {if:$this->detail['status']==0}<input type="button" class="goback_btn" name="cancle" value="取消" />
                <input type="button" class="goback_btn" name="create" value="创建订单" >{/if}
                <input type="button" class="goback_btn" value="返 回" onclick='event_link("{url:/ucenter/yuyueList}")'>
            </td>
        </tr>
        {/if}

    </table>
</section>
<section class="user_form none js_delivery_info">
    <form action="{url:/ucenter/yuyue_succ}" method="post" name='yuyue_submit'  enctype="multipart/form-data">
        <input type="hidden" name="yuyueID" value="{$id}" />
        <input type="hidden" name="upload" value="{url:/ucenter/upload}" />
        <dl>
            <dt>项目名称：</dt>
            <dd><input class="input_text" type="text" name="proname" datatype="*"  value="" ><span></span></dd>
        </dl>
        <dl>
            <dt>小区：</dt>
            <dd><input class="input_text" type="text" name="block" datatype="*"  value="" ><span></span></dd>
        </dl>
        <dl>
            <dt>装修风格：</dt>
            <dd><input class="input_text" type="text" name="style" datatype="*" value="" alt=""><span></span></dd>
        </dl>
        <dl>
            <dt>装修方案：</dt>
            <dd><input class="input_text" type="text" name="plan" datatype="*" value="" alt=""><span></span></dd>
        </dl>
        <dl>
            <dt>装修价格：</dt>
            <dd><input class="input_text" type="text" name="price" datatype="money" value="" >元<span></span></dd>
        </dl>
        <dl>
            <dt>其他说明：</dt>
            <dd><textarea class="input_textarea" name="description" ></textarea></dd>
        </dl>
        <dl>
            <dt>上传图片：</dt>
            <dd>
                <input type="file" name="propic"/>
            </dd>
        </dl>
        <dl>
            <dt></dt>
            <dd><input class="input_submit" type="submit" value="提交申请" /></dd>
        </dl>
    </form>
</section>
<script type="text/javascript">
    $(function(){
        //取消按钮操作
        $('input[name=cancle]').on('click',function(){
            var url = '{url:/ucenter/yuyue_cancle}';
            var id = {$id};
            layer.confirm(
                    '确定要取消预约吗',
                    function(flag){
                        $.ajax({
                            type: 'post',
                            url: url,
                            async: true,
                            data: {yuyueID: id},
                            dataType: 'json',
                            success: function (data) {
                                if (data.success == 1) {
                                    window.location.reload();
                                }
                                else {
                                    layer.closeAll();
                                    alert(data.info);
                                }

                            },
                            error: function (jqXHR) {

                            },
                            complate: function () {
                                layer.closeAll();
                            }
                        })

                    },
                    function() {
                        layer.closeAll();
                    }
            );
        })
        //显示创建订单表单
        $('input[name=create]').on('click',function(){
            $('.user_form').removeClass('none');
        })
    })
</script>


